<span id="login">
  <% if session[:user].nil? %>
    <% form_tag login_path, :method => "get" do %>
      <%= text_field_tag :username %>
      <%= password_field_tag :password if ldap_setup? %>
      <%= submit_tag 'Login' %>
    <% end %>
  <% else %>
    <%= session[:user] %>
    <%= button_to 'Logout', logout_path %>
  <% end %>
</span>
