<span id="login">
  <% if session[:user].nil? %>
    <% form_tag login_path, :method => "post" do %>
      <%= text_field_tag :username %>
      <%= password_field_tag :password if ldap_setup? %>
      <%= submit_tag 'Login' %>
    <% end %>
  <% else %>
    <%= session[:user] %>
    <% if session[:user_is_admin] %>
      (admin)
      <%= button_to 'Admin Page', admin_path %>
    <% end %>
    <%= button_to 'Logout', logout_path %>
  <% end %>
</span>
