<table>
  <%= form_tag tips_path, :method => "get" do %>
    <tr><td>
    <%= label_tag :search, "Search:" %>
    </td><td>
    <%= text_field_tag :search, params[:search] %>
    </td></tr>
    <tr><td>
    <%= label_tag :user, "User:" %>
    </td><td>
    <%= text_field_tag :user, params[:user] %>
    </td></tr>
    <tr><td colspan=2 style="text-align:right;">
    <%= submit_tag "Search", :name => nil %>
  <% end %>
  </td><td style="width:100px;text-align:right;">
  <input type=button value="New Tip" onclick="location.href='<%=new_tip_path%>'" />
  </td></tr>
</table>
<br>
<table>
<% @tips.each do |tip| %>
  <tr>
    <td><%= tip.title %></td>
    <td><%= tip.body %></td>
    <td><%= tip.user %></td>
    <td><%= tip.pageloads %></td>
    <td><%= link_to 'Show', tip %></td>
  </tr>
<% end %>
</table>
