<table style="inline_table">
  <%= form_tag(tips_path, :method => "get") do %>
    <tr><td>
    <%= label_tag :search, "Search:" %>
    </td><td>
    <%= text_field_tag :search, params[:search] %>
    </td></tr>
    <tr><td>
    <%= label_tag :user, "User:" %>
    </td><td>
    <%= text_field_tag :user, params[:user] %>
    </td></tr>
    <tr><td colspan=2 style="text-align:right;">
    <%= submit_tag "Search", :name => nil %>
    </td><td>
    <input type=button id="new_tip" value="New Tip" onclick="location.href='<%=new_tip_path%>'" <%= "disabled" unless loggedin? %> />
    <% if !loggedin? %><span class="note">You must be logged in</span><% end %>
    </td></tr>
  <% end %>
</table>
<% if !@num_of_pages.nil? && @num_of_pages > 1 %>
  <br>
  <% (@num_of_pages||=0).times do |page_num| %>
    <span class="page_link <%= "selected_page_link" if (page_num+1)==params[:page].to_i %>"><%= link_to "#{page_num+1}", browse_path(page_num+1) %></span>
  <% end %>
<% end %>
<% if !@tips.nil? && @tips.size > 0 %>
  <br><br>
  <table class="search_table">
    <% @tips.each do |tip| %>
      <tr onclick="location.href='<%= tip_path(tip.id) %>'" class="tip_title">
        <td colspan=2><%= tip.title %> (<%= tip.user %>) <span class="tip_date"><%= tip.updated_at.strftime('%b %d %Y') %></span></td>
      </tr>
      <% if !@search_split.nil? %>
        <% search_results = highlight_body(tip.body, @search_split) %>
        <% search_results.each do |search_result| %>
          <tr><td><td><%= raw(search_result) %></td></td></tr>
        <% end %>
      <% end %>
    <% end %>
  </table>
<% end %>
<% if !@search_time.nil? %>
  <br>
  <% if @tips.empty? %>
    <h2>No results found.</h2><br>
  <% end %>
  <table class="footer_information">
    <tr>
      <td style="text-align:right">Search completed in</td>
      <td><%= @search_time>1?"#{@search_time/1000} seconds":"#{@search_time} milliseconds" %></td>
    </tr>
    <tr>  
      <td style="text-align:right">Page loaded in</td>
      <td><%= (page_time=Time.now-@start_time)>1?"#{page_time/1000} seconds":"#{page_time} milliseconds" %></td>
    </tr>
  </table>
<% else %>
  <%= button_to "Browse All", browse_path(1) %>
<% end %>
<%= set_focus_to_id "search" %>
