<table style="inline_table">
  <%= form_tag tips_path, :method => "get" do %>
    <tr><td>
    <%= label_tag :search, "Search:" %>
    </td><td>
    <%= text_field_tag :search, params[:search] %>
    </td></tr>
    <tr><td>
    <%= label_tag :user, "User:" %>
    </td><td>
    <%= text_field_tag :user, params[:user] %>
    </td></tr>
    <tr><td colspan=2 style="text-align:right;">
    <%= submit_tag "Search", :name => nil %>
  <% end %>
  </td><td>
  <input type=button id="new_tip" value="New Tip" onclick="location.href='<%=new_tip_path%>'" <%= "disabled" unless loggedin? %> />
  <% if !loggedin? %><span class="note">You must be logged in</span><% end %>
  </td></tr>
</table>
<br>
<table class="search_table">
  <% @tips.each do |tip| %>
    <tr onclick="location.href='<%= tip_path(tip.id) %>'" class="tip_title">
      <td colspan=2><%= tip.title %> (<%= tip.user %>)</td>
    </tr>
    <% if !@search_split.nil? %>
      <% @search_split.each do |split| %>
        <% tip.body.scan(/^.*#{split}.*$/i).each do |search_lines| %>
          <tr><td style="width:1em;"></td><td>
          <%= raw(search_lines.gsub(/#{split}/i, "<b>#{split}</b>")) %>
          </td></tr>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</table>
<br>
<% if !@search_time.nil? %>
  <b>Search completed in <%= @search_time>1?"#{@search_time/1000} seconds":"#{@search_time} milliseconds" %></b>
  <br>
  <b>Page load time in <%= (page_time=Time.now-@start_time)>1?"#{page_time/1000} seconds":"#{page_time} milliseconds" %></b>
<% end %>
