Search:
<%= @ip %>
<h1>Listing tips</h1>

<table>
  <tr>
    <th>Body</th>
    <th>User</th>
    <th>Pageloads</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

Latest tip:
  <tr>
    <td><%= @tip.title %></td>
    <td><%= @tip.body %></td>
    <td><%= @tip.user %></td>
    <td><%= @tip.pageloads %></td>
    <td><%= link_to 'Show', @tip %></td>
    <td><%= link_to 'Edit', edit_tip_path(@tip) %></td>
    <td><%= link_to 'Destroy', @tip, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
</table>

<br />

<%= link_to 'New Tip', new_tip_path %>
