<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @tip.title %>
</p>

<p>
  <b>Body:</b>
  <%= @tip.body %>
</p>

<p>
  <b>User:</b>
  <%= @tip.user %>
</p>

<p>
  <b>Pageloads:</b>
  <%= @tip.pageloads %>
</p>

<% if session[:user]==@tip.user %>
  <%= link_to 'Edit', edit_tip_path(@tip) %> |
<% end %>
<%= link_to 'Back', tips_path %>
