<span class="tip_show_title"><%= @tip.title %></span>
<span class="tip_show_title_user">&nbsp(<%= @tip.user %>)</span>&nbsp
<% if session[:user]==@tip.user %>
  <%= link_to 'Edit', edit_tip_path(@tip) %> |
<% end %>
<%= link_to_function "No Word Wrap", "TT.changeWordWrap()", :id => "word_wrap_link" %>

<div id="tip_div" class="tip_div_wrap">
<%= @tip.body %>
</div>

<br>
Pageloads: <%= @tip.pageloads %>
