<!DOCTYPE html>
<html>
<head>
  <title>TeamTips</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<a href="<%= tips_path %>"><div id="logo">{<span id="logo_team">Team</span>Tips</div></a>
<hr id="logo_line" />

<%= render 'tips/login' %>
<%= render 'tips/flash', :flash => flash %>

<%= yield %>

</body>
</html>
